.single-main-img {
    max-height: 400px;
}

.single-submit-btn {
    background-color: #272626;
    border-radius: 3px;
    border: none;
    color: white;
}

.single-submit-btn:hover {
    background-color: black;
    color: white;
    transition:  0.4s;
}


.variation-selector {
    display: flex;
    flex-direction: column;
    select {
        max-width: 200px;
        padding: 10px 5px;
    }
}
.quantity {
    margin-top: 20px;
    input {
        padding: 10px 0px;
    }
}

.nav-link {
    color: black!important;
}