.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {
    background-color: black!important;
}
.dgwt-wcas-search-input {
    height: 40px!important;
    border-radius: 3px!important;
}
.dgwt-wcas-search-submit {
    top: 16px !important;
}