.contact-info-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    img {
        grid-column: 1 / 2;
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .info-text {
        grid-column: 2 / 2;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        img {
            grid-column: 1 / -1;
            height: auto;
        }
        .info-text {
            grid-column: 1 / -1;
            text-align: center;
        }
    }
}
