.home-carousel {
    padding: 20px;
        margin-bottom: 0!important;
        padding-bottom: 0!important;
    img {
        width: 100%; 
        height: auto; 
        object-fit: contain; 
    }
    .slick-dots li button:before {
        font-size: 34px;
    }
    .slick-dots li {
        margin: 0;
    }
}