.carousel-header {
    padding-top: 50px;
}
.special-offers-carousel {
    padding-top: 50px!important;
    .slick-track {
        margin-left: 6px !important;
        gap: 20px;
    }
    .slick-list {
        overflow: hidden;
    }
    .offers-next-arrow {
        top: 0;
        position: absolute;
        right: 5%;
        color: white;
        background: black;
        padding: 10px;
        border-radius: 3px;
    }
    .offers-prev-arrow {
        right: 15%;
        position: absolute;
        top: 0;
        padding: 10px;
        color: white;
        background-color: black;
        border-radius: 3px;
    }
}

.product-card {
    padding: 5px 5px 15px 5px;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
        transform: translateY(-5px);
    }
    
    img {
        max-height: 200px;
        max-width: 237px;
        object-fit: cover;
    }
    a {
        text-decoration: none;
    }
    p {
        font-weight: 600;
        color: black;
        font-size: 15px;
    }
    .add-to-cart-btn {
        background-color: #ff4365;;
        border: 3px solid #ff4365;
        padding: 10.5px;
        border-radius: 3px;
        color: white;
    }
}

